* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #def;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 320px;
}

div {
  padding: 12px;
}

.card {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.fw-light {
  font-weight: lighter;
}


table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background-color: #eee;
}

tr:nth-child(odd) td {
  background-color: #fff;
}

td, th {
  border: thin solid #ccc;
  padding: 6px;
}

tr:hover td {
  background-color: #ffffef
}

.btn {

}

.btn.delete {
  color: red;
}

.text-end {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-end > * {
  margin-left: auto;
}

.text-primary {
  color: #5d89b2;
}

.text-secondary {
  color: #889;
}

.d-block {
  display: block;
}

.btn.primary {
  color: #fff;
  background-color: #5d89b2;
}

.row {
  display: flex;
}

.row,
.row > div:first-child {
  padding-left: 0;
}

.row,
.row > div:last-child {
  padding-right: 0;
}

input {
  width: 100%;
}

input, button {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: thin solid #ccc;
  color: #212529;
  min-height: 32px;
}

input:focus, button:focus {
  color: #111;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(13 110 253 / 25%);
}

button {
  cursor: pointer;
  padding: 0.375rem 1rem;
}

.m-0 {
  margin: 0;
}

.ms-auto {
  margin-left: auto;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal .modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, .49),
    rgba(0, 0, 0, .49) 10px,
    rgba(0, 0, 0, .5) 10px,
    rgba(0, 0, 0, .5) 20px
  );
  z-index: 55;
}

.modal .modal-container {
  position: relative;
  z-index: 60;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35)
}

form[data-edit] button.primary {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
